#masthead {

	&.site-header {
		padding-top: 1.6rem;
		padding-bottom: 1.6rem;

		& .site-logo {
			width: 140px;
			height: auto;
			margin-bottom: 10px;
			padding-right: 10px;
		}

		& .site-description {
			display: block;
			font-style: italic;
		}
	}
}